.Form{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
.AdminInput{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
}
.LoginForm {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}
.Links{
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(223, 79, 66);
    margin-bottom: 15px;
    
}
.LinksHolder{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.LinksOut{
    background-color: #444;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(223, 79, 66);
    margin-bottom: 15px;
    width:30%;
    padding: 10px 10px;
}
.LinksOutHolder{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}